# Tania Sarahi Rossel Castillo 1810461

## Ejercicio 1
Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [140]:
mat= 1810461
nombre= 'Tania Sarahi Rossel Castillo'
print ("mi nombre es: ",nombre," y mi matricula: ",mat)

mi nombre es:  Tania Sarahi Rossel Castillo  y mi matricula:  1810461

## Ejercicio 2
Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [37]:
print("******Calculadora******")
print("1.- SUMA        2.- RESTA        3.-MULTIPLICACIÓN        4.-DIVISIÓN        5.-EXPONENTE")
opcion= int(input("Introduce una opcion:" ))
num1=float(input("Introduce un número:" ))
num2=float(input("Introduce un número:" ))
if(opcion==1):
    print("La suma de los números introducidos es: ",num1+num2)
elif(opcion==2):
    print("La resta de los números introducidos es: ",num1-num2)
elif(opcion==3):
    print("La multiplicación de los números introducidos es: ",num1*num2)
elif(opcion==4):
    try:
        print("La división de los números introducidos es: ",num1/num2) 
    except ZeroDivisionError:
        print("No se permite división entre cero")
elif(opcion==5): 
    print("El exponente de los números introducidos es: ",num1**num2)
else:
    print("Opción no válida")

******Calculadora******
1.- SUMA        2.- RESTA        3.-MULTIPLICACIÓN        4.-DIVISIÓN        5.-EXPONENTE
Introduce una opcion:1
Introduce un número:5
Introduce un número:4
La suma de los números introducidos es:  9.0

## Ejercicio 3
Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [38]:
l = []
for x in range(1,31):
    if x % 3 == 0:
        l.append(x)
print("La lista de 10 números multiplos de 3 es: ",l)
def sumar(lista):
    suma=0
    for l in lista:
        suma+=l
        
    return suma 
print("La suma de todos los numeros dentro de nuestro arreglo es: ",sumar(l))

La lista de 10 números multiplos de 3 es:  [3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
La suma de todos los numeros dentro de nuestro arreglo es:  165

## Ejercicio 4
- Con una función de if else, revisar si un número es par o es impar.
- Con una función de if else, revisar si un número es primo o no.

In [144]:
n1=int(input("Introduce un número:" ))
if n1 % 2 ==0:
    print("El número introducido es par")
else:
    print("El número introducido es impar")
cont = 0
for n in range(1, n1+1):
    if n1 % n == 0:
        cont += 1
if cont == 2:
    print("Y ademas es primo")
else:
    print("Pero no es primo")

Introduce un número:58
El número introducido es par
Pero no es primo

## Ejercicio 5 
Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [39]:
print("******Calculadora******")
print("1.- SUMA        2.- RESTA        3.-MULTIPLICACIÓN        4.-DIVISIÓN        5.-EXPONENTE")
op= int(input("Introduce una opcion:" ))
c1=float(input("Introduce un número:" ))
c2=float(input("Introduce un número:" ))
if(op==1):
    def suma(c1,c2):   
        return c1+c2
    print("La suma de los números introducidos es: ",suma(c1,c2))
elif(op==2):
    def resta(c1,c2):   
        return c1-c2
    print("La resta de los números introducidos es: ",resta(c1,c2))
elif(op==3):
    def mul(c1,c2):
        return c1*c2
    print("La multiplicación de los números introducidos es: ",mul(c1,c2))
elif(op==4):
    def div(c1,c2):
        return c1/c2
    try:
        print("La división de los números introducidos es: ",div(c1,c2)) 
    except ZeroDivisionError:
        print("No se permite división entre cero")
elif(op==5): 
    def exp(c1,c2):
        return c1**c2
    print("El exponente de los números introducidos es: ",exp(c1,c2))
else:
    print("Opción no válida")
    
#Bibliografia: https://entrenamiento-python-basico.readthedocs.io/es/latest/leccion5/funciones.html

******Calculadora******
1.- SUMA        2.- RESTA        3.-MULTIPLICACIÓN        4.-DIVISIÓN        5.-EXPONENTE
Introduce una opcion:1
Introduce un número:1
Introduce un número:100
La suma de los números introducidos es:  101.0

## Ejercicios con estructuras básicas de python.
### Tuplas
- Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

In [40]:
flotante=0.19
print("Un ejemplo de variable flotante es: ",flotante, type(flotante))
integer=19
print("Un ejemplo de variable integer es: ",integer, type(integer))
boleana=True
print("Un ejemplo de variable booleana es: ", boleana, type(boleana))
compleja= 3.45+2.8j
print("Un ejemplo de variable compleja es: ", compleja, type(compleja))

Un ejemplo de variable flotante es:  0.19 <class 'float'>
Un ejemplo de variable integer es:  19 <class 'int'>
Un ejemplo de variable booleana es:  True <class 'bool'>
Un ejemplo de variable compleja es:  (3.45+2.8j) <class 'complex'>


- Crear una tupla con valores enteros imprimir el primer y ultimo valor.

In [41]:
tupla=(1,2,3,4,5)
print("El primer es: ",tupla[0]," y ultimo valor de la tupla es: ", tupla[4])

El primer es:  1  y ultimo valor de la tupla es:  5

- Añadir 3 valores de string a la tupla.

In [42]:
tupla = tupla.__add__(('Tania Sarahi','Rossel Castillo','Python',))
tupla

(1, 2, 3, 4, 5, 'Tania Sarahi', 'Rossel Castillo', 'Python')

- Verificar si una variable existe dentro de la tupla.

In [43]:
1 in tupla

True

## Listas
- Crear una lista con 40 elementos aleatorios enteros.

In [44]:
import random as r
elementos=[]
for x in range(1,41):
    elementos.append(r.randint(1,100))
print("La lista de 40 elementos aleatorios enteros es: ",elementos)

La lista de 40 elementos aleatorios enteros es:  [98, 75, 97, 32, 98, 20, 71, 63, 2, 2, 98, 37, 25, 97, 31, 61, 82, 94, 73, 29, 89, 71, 20, 29, 49, 80, 13, 15, 10, 4, 42, 48, 65, 60, 13, 33, 6, 1, 25, 42]

- Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los   elementos pares, y en la otra los elementos impares.

In [45]:
def paresimpares(numeros):
    pares=[]
    impares=[]
    for elementos in numeros:
        if(elementos%2==0):
            pares.append(elementos)
        else:
            impares.append(elementos)
    return pares, impares

In [46]:
pares,impares=paresimpares(elementos)
print(pares)
print(impares)

[98, 32, 98, 20, 2, 2, 98, 82, 94, 20, 80, 10, 4, 42, 48, 60, 6, 42]
[75, 97, 71, 63, 37, 25, 97, 31, 61, 73, 29, 89, 71, 29, 49, 13, 15, 65, 13, 33, 1, 25]

- Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

In [47]:
y=len(pares)
z=len(impares)
print("El tamaño de la lista par es de: ",y," Y tamaño de la lista impar es: ",z)

El tamaño de la lista par es de:  18  Y tamaño de la lista impar es:  22

- Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

In [48]:
pares.sort(reverse=True)
print("La lista par ordenados de mayor a menor: ", pares)
impares.sort()
print("La lista impar ordenada de menor a mayor: ", impares)
#Bibliografia: https://j2logo.com/python/ordenar-una-lista-en-python/

La lista par ordenados de mayor a menor:  [98, 98, 98, 94, 82, 80, 60, 48, 42, 42, 32, 20, 20, 10, 6, 4, 2, 2]
La lista impar ordenada de menor a mayor:  [1, 13, 13, 15, 25, 25, 29, 29, 31, 33, 37, 49, 61, 63, 65, 71, 71, 73, 75, 89, 97, 97]

- Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [49]:
elementos.pop()
print("Elimina el ultimo elemento de la lista ", elementos)
elementos.reverse()
print("Imprimimos la lista al reves ", elementos)
elementos.extend([0,1,0,1])
print("Añadimos 4 elementos a nuestra lista original ", elementos)
elementos.insert(4, 'MINERIA')
print("Insertamos una palabra en una especifica localización",elementos)

Elimina el ultimo elemento de la lista  [98, 75, 97, 32, 98, 20, 71, 63, 2, 2, 98, 37, 25, 97, 31, 61, 82, 94, 73, 29, 89, 71, 20, 29, 49, 80, 13, 15, 10, 4, 42, 48, 65, 60, 13, 33, 6, 1, 25]
Imprimimos la lista al reves  [25, 1, 6, 33, 13, 60, 65, 48, 42, 4, 10, 15, 13, 80, 49, 29, 20, 71, 89, 29, 73, 94, 82, 61, 31, 97, 25, 37, 98, 2, 2, 63, 71, 20, 98, 32, 97, 75, 98]
Añadimos 4 elementos a nuestra lista original  [25, 1, 6, 33, 13, 60, 65, 48, 42, 4, 10, 15, 13, 80, 49, 29, 20, 71, 89, 29, 73, 94, 82, 61, 31, 97, 25, 37, 98, 2, 2, 63, 71, 20, 98, 32, 97, 75, 98, 0, 1, 0, 1]
Insertamos una palabra en una especifica localización [25, 1, 6, 33, 'MINERIA', 13, 60, 65, 48, 42, 4, 10, 15, 13, 80, 49, 29, 20, 71, 89, 29, 73, 94, 82, 61, 31, 97, 25, 37, 98, 2, 2, 63, 71, 20, 98, 32, 97, 75, 98, 0, 1, 0, 1]

## Diccionarios
- Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

In [50]:
dic = {'Marisol': 19, 'Luisa': 17, 'Oziel': 20, 'Elva':50, 'Ana':20, 'Sofia':20}


- Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

In [52]:
edades= list(dic.values())
type(edades)
edades.sort()
print("La lista ordenada de menor a mayor: ", edades)

La lista ordenada de menor a mayor:  [17, 19, 20, 20, 20, 50]

- Usando el diccionario y un loop, imprimir solo los nombres.

In [53]:
print("Impresión solo de nombres ingresados en el diccionario")
for i in dic: 
    print(i)

Impresión solo de nombres ingresados en el diccionario
Marisol
Luisa
Oziel
Elva
Ana
Sofia

- Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [28]:
dic['Michelle']=20
dic['Tania']=20
print("El diccionario se actualizo de acuerdo a lo recien agregado: ", dic)
#Bibliografia: http://elclubdelautodidacta.es/wp/2012/08/python-agregar-y-eliminar-elementos-de-un-diccionario/

El diccionario se actualizo de acuerdo a lo recien agregado:  {'Marisol': 19, 'Luisa': 17, 'Oziel': 20, 'Elva': 50, 'Ana': 20, 'Sofia': 20, 'Michelle': 20, 'Tania': 20}

## Sets
- Crea un set con 100 numeros aleatorios enteros del 1 al 25.

In [54]:
import random as r 
sets1=set()
for x in range(1,101):
    sets1.add(r.randint(1,25))
print("Como podemos ver Set solo consiste de elementos unicos: ", sets1)
type(sets1)
#Bibliografia https://github.com/mayraberrones94/Ciencia_de_Datos/blob/master/Mineria-datos/Libros/Valentina%20Porcu%20-%20Python%20for%20Data%20Mining%20Quick%20Syntax%20Reference-Apress%20(2019).pdf  
#pagina 43 del libro, 55 del PDF

Como podemos ver Set solo consiste de elementos unicos:  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}

set


- Comprueba la longitud de tu set.

In [55]:
len(sets1)
print("La longitud del Set es: ", len(sets1))

La longitud del Set es:  25


- Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [56]:
import random as r
aleatorio=[]
for x in range(1,6):
    aleatorio.append(r.randint(1,10))
print("La lista de 5 elementos aleatorios enteros es: ",aleatorio)

La lista de 5 elementos aleatorios enteros es:  [1, 8, 7, 3, 8]

In [58]:
a=list(sets1)
aleatorio 
comprobar=[]
for item_a in a:
    for item_b in aleatorio:
        if item_a == item_b:
            comprobar.append(item_a)
print("Los valores que coinciden entre la lista aleatoria y el set inicial son: ",comprobar)

Los valores que coinciden entre la lista aleatoria y el set inicial son:  [1, 3, 7, 8, 8]